{{ form_start(form) }}
<div class="form-group row">
    {{ form_label(form.Name, '', {'label_attr': {'class': 'col-form-label col-sm-3'}}) }}
    <div class="col-sm-9">
        {{ form_widget(form.Name, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_errors(form.Name) }}</small>
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.picture2, '', {'label_attr': {'class': 'col-form-label col-sm-3 custom-file'}}) }}
    {{ form_errors(form.picture2) }}
    <div class="col-sm-9">
        {{ form_widget(form.picture2, {'attr': {'class': 'form-control form-control-file'}}) }}
        <span class="custom-file-control"></span>
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.price, '', {'label_attr': {'class': 'col-form-label col-sm-3'}}) }}
    <div class="col-sm-9">
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_errors(form.price) }}</small>
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.Type, '', {'label_attr': {'class': 'col-form-label col-sm-3'}}) }}
    <div class="col-sm-9">
        {{ form_widget(form.Type, {'attr': {'class': 'form-control ProductCreateType'}}) }}
        <small class="form-text text-muted">{{ form_errors(form.Type) }}</small>
    </div>
</div>
<button class="btn btn-lg btn-primary float-right">{{ button_label|default('Ajouter') }}</button>
<div class="clearfix"></div>
{{ form_end(form) }}