{% extends 'admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="active breadcrumb-item"><a href="#">Liste des ingrédients</a></li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="bg-light card-header">
                            Ingrédients (Hamburger / Tacos / Spécialité)
                            <a class="btn btn-lg btn-outline-primary float-md-right" href="{{ path('all_ingredient_new') }}"><i class="fa fa-plus"></i> Ajouter un ingrédient</a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr class="bg-dark text-white">
                                        <th></th>
                                        <th>Nom</th>
                                        <th>Type</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if all_ingredients is not empty %}
                                        {% for all_ingredient in all_ingredients %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('all_ingredient_ascend', {'id': all_ingredient.id}) }}"><i aria-hidden="true" class="fa fa-caret-up"></i></a>
                                                    <a href="{{ path('all_ingredient_descend', {'id': all_ingredient.id}) }}"><i aria-hidden="true" class="fa fa-caret-down"></i></a>
                                                </td>
                                                <td>{{ all_ingredient.Name }}</td>
                                                <td>
                                                    {{ all_ingredient.type === 0 ? "Ingrédient de base" }}
                                                    {{ all_ingredient.type === 1 ? "Viande" }}
                                                    {{ all_ingredient.type === 2 ? "Pain" }}
                                                    {{ all_ingredient.type === 3 ? "Sauce" }}
                                                    {{ all_ingredient.type === 4 ? "Cuisson" }}
                                                    {{ all_ingredient.type === 5 ? "Supplément" }}
                                                    {{ all_ingredient.type === 6 ? "Condiment" }}
                                                    {{ all_ingredient.type === 7 ? "Boisson" }}
                                                    {{ all_ingredient.type === 8 ? "Accompagnement" }}
                                                    {{ all_ingredient.type === 9 ? "Plat" }}
                                                    {{ all_ingredient.type === 10 ? "Dessert" }}
                                                    {{ all_ingredient.type === 11 ? "Jouet" }}
                                                    {{ all_ingredient.type === 12 ? "Non modifiable" }}
                                                    {{ all_ingredient.type === 14 ? "Fromage" }}
                                                </td>
                                                <td><a href="{{ path('all_ingredient_show', {'id': all_ingredient.id}) }}"><i class="fa fa-eye"></i> Voir</a></td>
                                                <td><a href="{{ path('all_ingredient_edit', {'id': all_ingredient.id}) }}"><i class="fa fa-edit"></i> Editer</a></td>
                                                <td>{% if is_granted('ROLE_ADMIN') %}<a class="delete" data-id="{{ all_ingredient.id }}" data-type="ingredient" href="#"><i class="fa fa-trash-alt"></i> Supprimer</a>{% else %} <a href="#" title="Vous n'êtes pas autorisé à supprimer un produit"><i class="fa fa-lock"></i> Verrouillé</a>{% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="5">Aucun enregistrement trouvé</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
