{% extends 'admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="active breadcrumb-item"><a href="#">Consulter un produit</a></li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="bg-light card-header">
                            Détails du produit {{ product.name }}
                            <a class="btn btn-lg btn-outline-primary float-md-right" href="{{ path('Admin_EditProductPerId', {'id': product.id}) }}"><i class="fa fa-edit"></i> Editer</a>
                        </div>

                        <div class="card-body">
                            <div class="media">
                                <div class="media-left col-3">
                                    <img alt="" class="align-self-center img-fluid mr-3" src="{{ product.image is not null ? "/assets/uploads/images/#{product.image}" : "/assets/img/default.jpeg" }}">
                                </div>
                                <div class="media-body">
                                    <div class="table-responsive-sm">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th>Catégorie</th>
                                                <td>{{ product.categorie }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nom</th>
                                                <td>{{ product.name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Prix</th>
                                                <td>{{ product.price|number_format(2, '.', ',') }}€</td>
                                            </tr>
                                            <tr>
                                                <th>En Stock</th>
                                                <td>{{ product.available ? 'Oui' : 'Non' }}</td>
                                            </tr>
                                            <tr>
                                                <th>Ordre</th>
                                                <td>{{ product.ordre }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="btn-group-lg float-sm-right">
                                        <a class="btn btn-info btn-lg" href="{{ path('Admin_GetAllProducts', {'page': 1}) }}"><i class="fa fa-arrow-left"></i> Retour</a>
                                        <a class="btn btn-danger btn-lg" href="{{ path('Admin_DeleteProductPerId', {'id': product.id}) }}"><i class="fa fa-trash-alt"></i> Supprimer ce produit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if product.type === constant('TYPE_COMPOSED', product)
                or product.type === constant('TYPE_MENU', product)
                or product.type === constant('TYPE_MEAT_ALONE', product)
                or product.type === constant('TYPE_ONE_MEAT', product)
                or product.type === constant('TYPE_TWO_MEAT', product)
                or product.type === constant('TYPE_THREE_MEAT', product)
                or product.type === constant('TYPE_FOUR_MEAT', product)
            %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="bg-light card-header">
                            Composition du produit {{ product.name }}
                        </div>

                        <div class="card-body">
                            <a class="border btn btn-danger mb-2 float-right text-white RemoveAll disabled">Supprimer les ingrédients de cette composition</a>
                            <div class="table-responsive-sm">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input SelectAll" disabled type="checkbox">
                                            </div>
                                        </td>
                                        <th>Nom</th>
                                        <th>Type<br><br>
                                            {{ form_start(form) }}
                                            {{ form_widget(form.ingredient) }}
                                        </th>
                                        <td>
                                            <input type="submit" class="btn btn-lg btn-success" value="Ajouter">
                                            {{ form_end(form) }}
                                        </td>
                                    </tr>
                                    {% for ingredient in product.allIngredientInProducts %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input SelectIngredient" data-ingredient_id="{{ ingredient.id }}" disabled type="checkbox">
                                                </div>
                                            </td>
                                            <td>{{ ingredient.ingredient.name }}</td>
                                            <td>
                                                {{ ingredient.ingredient.type === 0 ? "Ingrédient de base" }}
                                                {{ ingredient.ingredient.type === 1 ? "Viande" }}
                                                {{ ingredient.ingredient.type === 2 ? "Pain" }}
                                                {{ ingredient.ingredient.type === 3 ? "Sauce" }}
                                                {{ ingredient.ingredient.type === 4 ? "Cuisson" }}
                                                {{ ingredient.ingredient.type === 5 ? "Supplément" }}
                                                {{ ingredient.ingredient.type === 6 ? "Condiment" }}
                                                {{ ingredient.ingredient.type === 7 ? "Boisson" }}
                                                {{ ingredient.ingredient.type === 8 ? "Accompagnement" }}
                                                {{ ingredient.ingredient.type === 9 ? "Plat" }}
                                                {{ ingredient.ingredient.type === 10 ? "Dessert" }}
                                                {{ ingredient.ingredient.type === 11 ? "Jouet" }}
                                                {{ ingredient.ingredient.type === 12 ? "Non modifiable" }}
                                                {{ ingredient.ingredient.type === 14 ? "Fromage" }}
                                            </td>
                                            <td width="150"><a href="{{ path('Admin_compositions_del', {'id': ingredient.id}) }}"><i class="fa fa-trash"></i> Supprimer</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}