{% extends 'admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="active breadcrumb-item"><a href="#">Liste des clients</a></li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="bg-light card-header">
                            Liste des clients ({{ customers|length }})
                            <a class="btn btn-lg btn-outline-info float-md-right" href="#" title="Ajouter un client"><i class="fa fa-plus"></i> Ajouter un client</a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr class="bg-dark text-white">
                                        <th>#</th>
                                        <th>Adresse Mail</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if customers is not empty %}
                                        {% for customer in customers %}
                                            <tr>
                                                <td>{{ customer.id }}</td>
                                                <td>{{ customer.email }}</td>
                                                <td>{{ customer.lastname }}</td>
                                                <td>{{ customer.firstname }}</td>
                                                <td><a href="{{ path('Customers_Show', {'id' : customer.id}) }}"><i class="fa fa-eye"></i> Voir</a></td>
                                                <td><a href="{{ path('Customers_Edit', {'id' : customer.id}) }}"><i class="fa fa-edit"></i> Editer</a></td>
                                                <td><a class="" data-id="{{ customer.id }}" href="{{ path('Customers_Delete', {'id' : customer.id}) }}"><i class="fa fa-trash-alt"></i> Supprimer</a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="8">Aucun enregistrement trouvé</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% if pagination.totalPages > 0 %}
                                <ul class="justify-content-center pagination">
                                    {% if pagination.page === 1 %}
                                        <li class="disabled page-item">
                                            <a aria-label="Page précédente" class="page-link" href="#">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Page précédente</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a aria-label="Page précédente" class="page-link" href="{{ path('Customers_List', {'page': pagination.page-1}) }}">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Page précédente</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for i in 1..pagination.totalPages %}
                                        {% if i === pagination.page %}
                                            <li class="disabled page-item">
                                                <a class="page-link" href="#">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="{{ path('Customers_List', {'page': i}) }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if pagination.totalPages === pagination.page %}
                                        <li class="disabled page-item">
                                            <a aria-label="Page suivante" class="page-link" href="#">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Page suivante</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a aria-label="Page suivante" class="page-link" href="{{ path('Customers_List', {'page': pagination.page+1}) }}">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Page suivante</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}