{% extends 'admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="active breadcrumb-item"><a href="#">Editer une réservation</a></li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="bg-light card-header">
                            Editer une réservation
                            <a class="btn btn-lg btn-outline-primary float-md-right" href="{{ path('Booking_List', {'page' : 1}) }}"><i class="fa fa-arrow-left"></i> Retour</a>
                        </div>

                        <div class="card-body">
                            {{ form_start(form) }}
                            <div class="form-group row">
                                {{ form_label(form.scheduleAt, '', {'label_attr': {'class': 'col-form-label col-sm-3'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.scheduleAt, {'attr': {'class': 'form-control'}}) }}
                                    <small class="form-text text-muted">{{ form_errors(form.scheduleAt) }}</small>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary float-right">{{ button_label|default('Valider') }}</button>
                            <div class="clearfix"></div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}