{% extends 'admin.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="active breadcrumb-item"><a href="#">Consulter une commande</a></li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="bg-light card-header">
							{% if result.borneId === 0 %}Commande Internet-{{ result.id }}{% elseif result.borneId !== 5 %}Commande Borne-{{ result.id }}{% else %}{{ result.type === false ? "Commande Caisse N°#{result.id} (#{result.typevalue})" : "Commande Uber (#{result.typevalue})" }}{% endif %}
                            <div class="btn-group float-md-right">
                                <a class="btn btn-lg btn-outline-primary" href="{{ path('Admin_GetAllOrders', {'status': result.status}) }}"><i class="fa fa-arrow-left"></i> Retour</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Désignation</th>
                                        <th class="text-sm-right">Prix Unitaire</th>
                                        <th class="text-sm-center">Quantité</th>
                                        <th class="text-sm-right">Sous Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in items %}
                                        {% if row.product !== null %}
                                            <tr>
                                                <td>{{ row.product ? "#{row.product.categorie.name} - #{row.product.name}" : 'Inconnu' }}
                                                    {% if row.CardAllLines|length > 0 %}
                                                        <small>(
                                                            {% for line in row.cardAllLines %}
                                                                {% if line.active %}
                                                                    {% if line.type === 0 %}
                                                                        (Avec) {{ line.Ingredient.name }}
                                                                    {% elseif line.type === 5 %}
                                                                        (Supplément) {{ line.Ingredient.name }}
                                                                    {% else %}
                                                                        {{ line.Ingredient.name }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if line.type === 0 %}
                                                                        (Sans) {{ line.Ingredient.name }}
                                                                    {% else %}
                                                                        {{ line.Ingredient.name }}
                                                                    {% endif %}
                                                                {% endif %}
                                                                {% if not loop.index > 0 or not loop.last %} - {% endif %}
                                                            {% endfor %}
                                                            )
                                                        </small>
                                                    {% endif %}
                                                </td>

                                                {% if row.product.type === 14 %}
                                                    <td class="text-sm-right">{{ row.product ? row.TotalPrice|number_format(2, '.', ',') : 'Inconnu' }}€</td>
                                                {% else %}
                                                    <td class="text-sm-right">{{ row.product ? row.product.price|number_format(2, '.', ',') : 'Inconnu' }}€</td>
                                                {% endif %}

                                                <td class="text-sm-center">{{ row.quantity }}</td>

                                                {% if row.product.type === 14 %}
                                                    <td class="text-sm-right">{{ row.product ? ((row.TotalPrice)|number_format(2, '.', ',')) : '0' }}€</td>
                                                {% else %}
                                                    <td class="text-sm-right">{{ row.product ? ((row.quantity * row.product.price)|number_format(2, '.', ',')) : '0' }}€</td>
                                                {% endif %}

                                                <td class="text-sm-right">{% if result.status != "Commande en préparation" %}<a class="btn btn-outline-danger" href="{{ path('Admin_DeleteProductFromOrder', {'order_id': result.id, 'product_id': row.id}) }}"><i class="fa fa-trash-alt"></i> Supprimer</a>{% endif %}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {{ form_start(form) }}
                                    <tr class="Admin_ProductAdd">
                                        <td>{{ form_widget(form.product, {'attr' : {'class' : 'ProductAddSelect'}}) }}</td>
                                        <td class="text-sm-right"></td>
                                        <td class="text-sm-center">{{ form_widget(form.quantity, {'attr' : {'class' : 'ProductAddQty', 'value' : '1'}}) }}</td>
                                        <td class="text-sm-right"></td>
                                        <td><button class="btn btn-lg btn-primary SendNewProduct" data-order="{{ result.id }}" type="submit">Ajouter</button></td>
                                    </tr>
                                    {{ form_end(form) }}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-5">
                                    Commentaire du client : {{ result.bookingInfos.comment }}
                                </div>
                                <div class="col-lg-4 col-sm-5 ml-auto">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="right">
                                                <strong>{{ total|number_format(2, '.', ',') }}€</strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}